* {
  box-sizing: border-box;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.App {
  padding: 70px;
  color: black;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  
}

.products-list ul {
  list-style: none;
}

.products-list > li {
  margin-bottom: 20px;
  text-align: left;
}

.products-list ul li {
  text-align: left;
}

.products-list ul li.title {
  font-size: 20px;
}

